# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.swp

# External Sources
ct_sources/*.tar.gz
ct_sources/*.tar.bz2
sources/*.tar.gz
sources/*.tar.bz2

# Dirs 
rootfs
cross-tools
sources/clfs-embedded-bootscripts-*/
snapshots
